// Login Page

#login {
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }
}

// End Login Page

// Register Page

#register {
    .form-register {
        
    }
}

// End Register page